* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: lightskyblue;
  text-align: center;
}

.navbar-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid yellow;
}

.navbar-title {
  color: blue;
  font-size: 3.5rem;
}

.navbar-links-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.navbar-links-container a {
  color: blue;
  text-decoration: none;
  font-size: 2.5rem;
}

.smurfs-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smurfs-list-heading {
  font-size: 2.4rem;
  color: red;
}

.smurfs-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.smurf-card-container {
  width: 25%;
  border: 3px solid yellow;
  border-radius: 10px;
  margin: 0px 10px 100px;
}

.smurf-card-image {
  border-radius: 10px;
}

.smurf-form-container {
  border: 1px solid blue;
}

.smurf-form-heading {
  font-size: 2.4rem;
  color: blue;
}

.smurf-form {
  border: 1px solid red;
}